.Body-content {
    background-image: url('./Images/Artboard-1-2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: bisque;
    height: 20cm;
    color: #595959;
    margin-top: -20px;
    font-size: larger;
}

.bod1 {
    padding-top: 7cm;
    padding-left: 3cm;
    width: 10cm;
}

.main-para {
    color: #595959;
}

.connect {
    background: #57c77e;
    display: flex;
    color: white;
    border-radius: 10px;
    font-size: 12px;
    height: 1.2cm;
    width: 6cm;
    align-items: center;
    justify-content: center;


}

.connect:hover {
    background-color: black;
}

.book:hover {
    background: black;
}

.web-connect {
    padding-left: 3cm;
}

.web {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    filter: brightness(100);
}


